# === Public (safe for browser) ===
NEXT_PUBLIC_SUPABASE_URL=

# === Server-side only ===
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

# Admin RBAC / Auth
NEXT_PUBLIC_SITE_NAME=ElimuX
ADMIN_JWT_SECRET=

# Vercel
NEXT_PUBLIC_APP_ENV=production
