@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navy: #0d1f3c;
  --gold: #c8973a;
}

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
  color: var(--navy);
  -webkit-font-smoothing: antialiased;
}